@if($userPosition(); as userPosition) {
  <google-map
    [center]="userPosition"
    [zoom]="10"
    width="100%"
    height="400px"
    (mapClick)="onMapClick($event)"
  >
    @if(position(); as position) {
      <map-marker
        [position]="position"
      ></map-marker>
    } @else {
      <map-marker
        [position]="userPosition"
      >
      </map-marker>
    }

    @if(drawing(); as drawing) {
      <map-polygon [paths]="drawing"></map-polygon>
    }

    @if($parks(); as parks) {
      @for(park of parks; track park) {
        <map-polygon [paths]="park.path" (polygonClick)="onPolygonClick(park.id)"></map-polygon>
      }
    }

  </google-map>
}
